@font-face{
  font-family: "chalky";
  src: url("chalky.ttf") format("truetype");
}

html {

font-family: "chalky";
  src: url("chalky.ttf") format("truetype");
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  background-color: lightred;
  background: no-repeat url("img/chalkboard.jpg");
}

h1 {
  color: red;
  font-size: 40px;
  margin-left: 20px;
}

h2 {
font-family: "Open Sans Serif";
  color: green;
  font-size: 40px;
  margin-left: 20px;
}


p {
  color: white;
  font-size: 30px;
}
